#nav-bar {
  background-color:rgb(24, 204, 236);
  color: black;
}

img {
  max-height: 445px;
}

.ingredients-list {
  text-decoration-style: italic;
  padding: 5px;
}

#search-button, .button.is-rounded.letter {
  text-size-adjust: 20px;
  border:none;
  color: black;
  background-color:rgb(17, 163, 230);

}
.button {
  transition: all .2s ease-in-out;
}
.button:hover{  
  transform: scale(1.1);
}
#food-recipe, #drink-recipe {
  text-size-adjust: 20px;
  border: none;
  outline: none;
  color: black;
  margin-left: 10px;
  background-color:rgb(17, 163, 230);
  transition: all .2s ease-in-out;
}
.navbar-item:hover{  
  transform: scale(1.1);
}


#search-for-recipe-input {
  border: hidden;
}

html {
  background-color: powderblue;
}
body {
  background-color: powderblue;
  position: relative;
}

 #recipe-box {   
   padding-left: 50px;
   padding-right: 50px ;
}

#choice-image { 
  width: 300px;
  height: 300px;
}

.name {
  font-style: bold;
}

footer {
  background-color: rgb(17, 163, 230);
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#recipe-img {
  margin-left:20px;
}
#welcome-img {
  margin-left: 480px
}
#ingredients, #instructions {
  gap: 15px;
  height: 450px;
  overflow-y: scroll;
  scrollbar-color: red;
}